body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background: url("../assets/color_concert.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* 
.concerts {
    text-align: center;
    border-radius: 10px;
    /* background: #eceff1; */
    /* box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
    margin: 2%;
    cursor: pointer;
} */

.concerts {
  border: thin;
  cursor: pointer;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
  padding: 10%;
  text-align: center;
  border-radius: 10px;
}

.noConcerts {
  text-align: center;
}

.concerts:hover {
  background-color: #84ffff;
}

img {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.artistName  {
color: black;
text-align: center;
}

.brand-logo {
  margin-left: 5%;

}

#cityBanner {
  margin: auto;
  text-align: center;
}

#mapRow {
margin-bottom: 0px;
}
.brand-logo img {
  height: 64px;
}

.musicHeader img{

    float: left;   
  }


h3 {
  text-align: center;
}
.eventDiv {
  text-align: center;
  border-radius: 5px;
  background: #eceff1;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
  cursor: pointer;
}

.favBtn {
  background-color: #bdbdbd;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}

.faveveBtn {
  background-color: #bdbdbd;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}

.eventImages {
margin-top: 3%;
width: 75px;
height: 75px;
}
.header {
  margin: -2.9rem 0 1.68rem 0;
}
a {
  text-align: center;
}

.flex {
display: flex;
flex-wrap: wrap;
}


#backgroundImage {
background-image: url("../assets/crowd-png-4.png");
/* background-color: #eeeeee; */

}

.background {
/* background-image: url("../assets/crowd.jpg"); */
background-color: #eeeeee;

}

.login-background {
background-color: #eeeeee;
}
.nav-wrapper {
 position: fixed;
top: 0px;

}

.bandimg {
  text-align: center;

}

img {
  margin: auto;
}

.eventTitle {
  text-align: center;
}

