body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background: url("../assets/color_concert.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  padding-top: 8px;
}

.concerts {
  border: thin;
  cursor: pointer;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
  padding: 10%;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}

.noConcerts {
  text-align: center;
}

.concerts:hover {
  background-color: #84ffff;

}

img {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.artistName  {
color: black;
text-align: center;
}

.brand-logo {
  margin-left: 5%;
}

#cityBanner {
  margin: auto;
  text-align: center;
}

#mapRow {
margin-bottom: 0px;
}
.brand-logo img {
  height: 64px;
}

.fa {
  color: black;
}
.musicHeader img{
    float: left;   
  }

h3 {
  text-align: center;
}
main {
  flex: 1 0 auto;
 }

.favEventImages {
  width: 21%;
  height: 27%;
  border-radius: 10px;
}

.eventImages {
  width: 60%;
  height: 30%;
  border-radius: 10px;
}


.eventDiv {
  padding: 2px;
  margin-top: 5px;
  height: 56%;
  text-align: center;
  border-radius: 5px;
  color: black;
  background: #eceff1;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
  cursor: pointer;
}



.eventDivFav {
  padding: 3px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  color: black;
  background: #eceff1;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
  cursor: pointer;
  width: 60%;
  max-height: 100%;
}

.favCityTitle, .favConcertTitle, .favEvent, .favResTitle{
  text-align: center;
}
.band {
  font-weight: bold;
  font-size: 20px
}


.favBtn {
  background-color: #bdbdbd;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}
.login-background {
  /* background: #eceff1; */
  background-image: url("../assets/stonehaven.png");
}

.eventStyle {
  text-align: center;
  height: 45%;
  box-shadow:
0 0 3px 3px #ffa726,
  0 0 1px 3px #0ff
}

.faveveBtn {
  background-color: #bdbdbd;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}


.header {
  margin: -2.9rem 0 1.68rem 0;
}

a {
  text-align: center;
}

.flex {
display: flex;
flex-wrap: wrap;
}

#backgroundImage {
background-image: url("../assets/crowd-png-4.png");

}

.background {
/* background-color: #eeeeee; */
background-image: url("../assets/stonehaven.png");

}
.card-background {
  background-color:#bdbdbd;
  
}
nav {
margin-top: 0;
}

.button-style {
  font-size: 20px;
  padding: 2px;
  color: white;
  background-color: #4dd0e1;
  letter-spacing: .5px;
}
.button-style:hover {
  background-color: #ffa726;
}
/* .nav {
position: fixed;
top: 0px;
} */

.bandimg {
  text-align: center;
}

.fav-button {
  font-size: 13px;
  color: white;
  background-color: #4dd0e1;
}
.fav-button:hover {
  background-color: #ffa726;
}

img {
  margin: auto;
}

.eventTitle {
  text-align: center;
}

.brand-logo {
  margin: 3px 3px 3px 3px;


}
/* Map Styling */
#mapRow {
  position: static !important;

}
#mapCard {
  overflow: hidden;
  justify-content: center;
}
#map {
  position: static !important;
}


/* Map Styling */
#mapRow {
  position: static !important;
  top: 1000px;
}
#mapCard {
  overflow: hidden;
  justify-content: center;
  height: 450px;
}
#map {
  position: static !important;
}
