body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background: url("../assets/color_concert.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* main {
  flex: 1 0 auto;
}

.row .col {
  margin-top: 4%;

}

.card {
    text-align: center;
    border-radius: 10px;
    background: #eceff1;
} */

img {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.artistName  {
color: black;
text-align: center;
}

.brand-logo {
  margin-left: 5%;

}

#mapRow {
margin-bottom: 0px;
}

.eventDiv {
width: 100%;
/* background: white; */
color: black;
margin: 2%;
text-align: center;
}

.eventImages {
width: 50%;
height: 50%;
}
.header {
  margin: -2.9rem 0 1.68rem 0;
}

.flex {
display: flex;
flex-wrap: wrap;
}
.row .col {
  margin: 2%;
}


.resDiv {
width: 100%;
background: white;
color: black;
margin: 2%;
text-align: center;

}

#backgroundImage {
background-image: url("../assets/crowd-png-4.png");
/* background-color: #eeeeee; */

}

.background {
/* background-image: url("../assets/crowd.jpg"); */
background-color: #eeeeee;

}

.login-background {
background-color: #eeeeee;
}
.nav-wrapper {
 position: fixed;
top: 0px;

}

.bandimg {
  margin: auto;

}

img {
  margin: auto;
}

/* Main Map/Hotel Wrapper */
#hotelWrapper {
  position: relative;
  width: 100%;
  max-height: 65%;

}
.hotel-title {
  text-align: center;
}

#mapRow {
  position: static !important;
  /* top: 1000px; */
}
#mapCard {
  overflow: hidden;
  justify-content: center;
  width: 100%;
  height: 400px;
}
#map {
  position: static !important;
}

.eventTitle {
  text-align: center;
}

.resTitle {
  text-align: center;
}
